<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="Maulwurf Company"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Maulwurfkompanie">
        <activity
            android:name=".ui.ShowConfiguration"
            android:exported="false"
            android:theme="@style/Theme.Maulwurfkompanie.NoActionBar" />
        <activity
            android:name=".ui.lobby.GameWaitLobby"
            android:exported="false"
            android:theme="@style/Theme.Maulwurfkompanie.NoActionBar"/>
        <activity
            android:name=".ui.GameActivity"
            android:exported="false"
            android:theme="@style/Theme.Maulwurfkompanie.NoActionBar" />
        <activity
            android:name=".ui.ShowRules"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.Maulwurfkompanie.NoActionBar" />
        <activity
            android:name=".ui.ShowLoginRules"
            android:exported="false"
            android:theme="@style/Theme.Maulwurfkompanie.NoActionBar" />
        <!-- android:screenOrientation="portrait" -->
        <activity
            android:name=".ui.lobby.LobbyActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="@string/title_activity_lobby"
            android:theme="@style/Theme.Maulwurfkompanie.NoActionBar" />
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Maulwurfkompanie.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>